.Modal {
  z-index: 10;
  background-color: #f3e6e6;
  width: 60vw;
  color: #0e0e0e;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;

  &__heading {
    background-color: #efbff3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 30px;
  }
}