//COLORS
//---------------------------------
$color-nav-active: #57A4A4;
// active item in navigation menu.
//---------------------------------
$color-drop-down-bg: #F5F5F5;
//---------------------------------
$color-primary: #4E4E4E;
// dark grey
// OUR RECENT POSTS; Aenean Adipiscing Etiam Vestibulum;
// nav-menu at the top of page
//  h2 color
//---------------------------------
$color-primary-light: #7C7C7C;
// light grey
// Is used at: "Our recent posts" -> Comments section
//---------------------------------
$color-posts-text: #5C5C5C;
//---------------------------------
$color-footer-heading: #FEFEFE;
// Footer: main color of heading!
//---------------------------------
$color-footer-main: #B9B9B9;
// Footer main color of the text.
//---------------------------------
$color-white: #fff;
$color-black: #000;

$color-instagram-bg: #F7F7F7;

$color-rss-icon: #BF6F23;
$color-facebook-icon: #2C457A;
$color-twitter-icon: #3588AF;
$color-dribbble-icon: #A75E88;
$color-pinterest-icon: #9D1922;

//---------------------------------
// Widths
$padding-width-insta: calc((100vw - 1170px)/2);
$padding-width-footer: calc((100vw - 1170px)/2 + 242px);
